<!-- login modal start
<div *ngIf="loginmodal" class="ui overlay">
  <div class="ui active tiny modal">
    <div class="header">Login</div>
    <div class="content">
      <form [formGroup]="loginForm">
      <div class="ui labeled input">
        <div class="ui label" [ngClass]="{
          'invalid':invalidemail === true,
          'valid':invalidemail === false
        }">
          Email
        </div>
        <input id="email" placeholder="email@example.com" type="text" [formControl]="loginForm.controls['email']" required>
      </div>

      <br>
      <br>
      
      <div class="ui labeled input">
        <div class="ui label" [ngClass]="{
          'invalid':invalidpassword === true,
          'valid':invalidpassword === false
        }">
          Password
        </div>
        <input id="password" placeholder=" " type="password" [formControl]="loginForm.controls['password']" required>
      </div>

      <br>
      <br>

      <div *ngIf="errormessage"  class="ui error message">
          <div *ngIf="invalidemail"class="header">Invalid email</div>
          <div *ngIf="invalidpassword"class="header">Invalid password</div>
          <p>{{errormessage}}</p>
        </div>

      <div class="ui buttons">
        <button (click)="logincancel()" class="ui button">Cancel</button>
        <div class="or"></div>
        <button (click)="loginwithemail(email, password)" class="ui positive button" [disabled]="!loginForm.valid">Submit</button>
      </div>

      </form>

      <div *ngIf="emailnotverified" >
        <div class="ui divider"></div>
    
        <button (click)="sendVerfificationEmail()" class="ui email button">
          <i class="email icon"></i>
          Send verification email
        </button>
      </div>
      
      <div class="ui divider"></div>

      <button (click)="loginwithgoogle()" class="ui google button">
        <i class="google icon"></i>
        Login with Google
      </button>

    </div>
  </div>
</div>
 login modal end -->

<!-- register modal
<div *ngIf="registermodal" class="ui overlay">
  <div class="ui active tiny modal">
    <div class="header">Register</div>
    <div class="content">
      <form [formGroup]="registerForm">
      <div class="ui labeled input">
        <div class="ui label" [ngClass]="{
          'invalid':invalidemail === true,
          'valid':invalidemail === false
        }">
          Email
        </div>
        <input id="email" placeholder="email@example.com" type="text" [formControl]="registerForm.controls['email']" required>
      </div>

      <br>
      <br>
      
      <div class="ui labeled input">
        <div class="ui label" [ngClass]="{
          'invalid':invalidpassword === true,
          'valid':invalidpassword === false
        }">
          Password
        </div>
        <input id="password" placeholder=" " type="password" [formControl]="registerForm.controls['password']" required>
      </div>

      <br>
      <br>

      <div *ngIf="errormessage"  class="ui error message">
          <div *ngIf="invalidemail"class="header">Invalid email</div>
          <div *ngIf="invalidpassword"class="header">Invalid password</div>
          <p>{{errormessage}}</p>
        </div>

      <div class="ui buttons">
        <button (click)="registercancel()" class="ui button">Cancel</button>
        <div class="or"></div>
        <button (click)="registersubmit(email, password)" class="ui positive button" [disabled]="!registerForm.valid">Submit</button>
      </div>

        <div *ngIf="emailnotverified" >
          <div class="ui divider"></div>
      
          <button (click)="sendVerfificationEmail()" class="ui email button">
            <i class="email icon"></i>
            Send verification email
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
 register modal end -->


<!-- register mat start -->

<!-- The webpage starts here! -->
<div class="bodywrapper">

  <!-- The toolbar starts here! -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a [routerLink]="['/home']" style="color:white; text-decoration: none" >TaskRevolver</a></span>
      <span class="toolbar-spacer"></span>
      <button mat-button [routerLink]="['/home']"><mat-icon>home</mat-icon></button>
      <button mat-button [routerLink]="['/about']">About</button>
      <button mat-button [routerLink]="['/contact']">Contact us</button>
      <button mat-button [routerLink]="['/tac']">Terms and Conditions</button>
      <button mat-button [routerLink]="['/privacy']">Privacy Policy</button>
      <span class="toolbar-spacer"></span> 
      <div *ngIf="registerbutton">  
        <button mat-button (click)="register()">Register</button>
      </div>
      <div *ngIf="verifyemailbutton">
        <button mat-button (click)="sendVerfificationEmail()">Verify Email</button>
      </div>
      <div *ngIf="loginbutton">
        <button mat-button (click)="login()">Login</button>
      </div>
      <div *ngIf="authenticated">
        <button mat-button (click)="logout()">Logout</button>
        <button mat-button (click)="settings()" *ngIf="userDisplayName"><mat-icon>person</mat-icon> {{ userDisplayName }}</button>
        <button mat-button (click)="settings()" *ngIf="!userDisplayName"><mat-icon>person</mat-icon> My account</button>
       
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item [routerLink]="['/admin/teams']" > Teams </button>
          <button mat-menu-item> Help </button>
        </mat-menu>   
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- The main content starts here! -->
  <div class="maincontainer">
    <!-- The routed content loads here! -->
    <router-outlet></router-outlet>
  </div>

  <!-- pushing the footer down -->
  <div class="push"> </div>
</div>

<!-- footer stuff goes here -->
<div *ngIf="authenticated"> <app-footer></app-footer> </div>




